.splash-page {
  width: 100%;
  height: 45rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-image: url('https://wallpapermemory.com/uploads/547/road-background-hd-2560x1440-490937.jpg');
  background-position: center;
}
.splash-container {
  width: 40rem;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 40px;
  margin-bottom: 40px;
  height: 600px;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
}

.splash-title {
text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-weight: 200;
  color: white;

}


.splash-info {
  color: white;
  font-weight: 200;
  font-size: 24px;
  padding: 10px;
  font-family: 'Luckiest Guy', cursive;

}

.header-name {
  color: white;
  padding: 5px;
  position: relative;
  right: 10px;
  text-align: center;
}

.header-container {
  background: #233238;
  height: 80px;
  padding-top: 20px;
  display: flex;
  position:relative;
  z-index: 500;
  justify-content: space-around;
}

.header-link {
  font-size: 72px;
  color: #D44A2E;
  font-family: 'Luckiest Guy', cursive;
  text-decoration: none;
  display: flex;
  align-items: center;
  
}

.header-button {
    background: #D44A2E;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
   transition: all .2s;
   border: none;
}

.header-button:hover{
  background: #f76c4f;
  transition: all .2s;
  cursor: pointer;
  box-shadow: 0px 0px 10px 6px yellow;
  box-shadow: 0px 0px 10px 4px red;
  
}

.header-link:visited {
  color: #D44A2E;
   transition: all .2s;
}

.header-link:hover {
  color: #f76c4f;
  transition: all .2s;
  text-shadow: 2px 2px 4px white, 
  -2px -2px 4px white;
}

.login-signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-session-link{
  background: #D44A2E;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  padding: 10px;
  font-weight: 500;
  text-align: center;
   transition: all .2s;
 
}

.header-session-link:visited {
  background: #D44A2E;
  color: white;
}

.header-session-link:hover {
  background: #f76c4f;
   transition: all .2s;
    box-shadow: 0px 0px 10px 6px yellow;
    box-shadow: 0px 0px 10px 4px red;
}

body {
  margin: 0;
  padding: 0;
  min-width: 800px;
  min-height: 400px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



/* This CSS code should go in the
Auth css file  */
.signup-page {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  z-index: 200;
  justify-content: center;
  align-items: center;
  background-image: url(/images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signup-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
    bottom: 50px;
}

.signup-form {
  /* box-shadow: 3px 3px black; */
  width: 400px;
  height: auto;
  padding: 20px;
  padding-bottom: 35px;
  box-sizing: border-box;
  background: antiquewhite;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  
}

.signup-inputs > input {
 padding: 8px;
    font-size: 16px;
    background: white;
}



.auth-label {
  color: black;
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: 200;
    color: #D44A2E;
   font-family:  'Luckiest Guy', cursive;

}

.signup-inputs {
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup-input {
  padding: 8px;
  background-color: white;
  margin-bottom: 5px;
  width: 250px;
  border-radius: 3px;
  border: none;
;
}

input:focus {
  outline:none;
}

.signup-submit {
  background: #d44202;
  border-radius: 4px;
  font-weight: 200;
  padding: 15px;
  border: none;
  box-shadow: 2px 2px black;
    font-family: 'Luckiest Guy', cursive;
 font-size: 24px;
 text-align: center;
 transition: all .2s;
 color: whitesmoke;
}

.signup-submit:hover {
  cursor: pointer;
  background: #ff824b;
  
}

.signup-submit:focus {
  outline: none;
}

.signup-bottom {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
  width: 300px;
  height: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#excite {
  flex-wrap: wrap;
  width: 50%;
  align-self: center;
  justify-self: center;
  margin-right: 20px;
  text-align: center;
  font-size: 22pt;
  color: #D44A2E;
  font-weight: 200;
  font-family:  'Luckiest Guy', cursive;
  /* text-shadow: 1px 1px black; */
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}




.signup-choice {
  font-size: 40px;
    color: #D44A2E;
   font-family:  'Luckiest Guy', cursive;
   font-weight: 200;
  justify-self: center;
  align-self: center;
  margin-top: 25px;
}

.login-form-box {
      position: relative;
    bottom: 50px;
  /* box-shadow: 3px 3px black; */
  width: 350px;
  height: 350px;
  background: antiquewhite;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
    height: auto;
  padding: 20px;
    padding-bottom: 35px;

  box-sizing: border-box;
}

/* Gas Pane CSS section */

.gas-pane-head {
  width: 100%;
  height: auto;
  border-top: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom:1px solid black;
  margin-right: 20px;
  /* margin-bottom: 10px; */
  display: flex;
  align-items: center;
  background: #E86535;
}

.gas-pane-form-container {
  margin: 10px;
  width: 100%;
  display: flex;
  height: 100%;
  font-family: a
}

.gas-pane-form {
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

.gas-pane-input {
  display:flex;
  flex-direction: column;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 500px;
  margin-right: 5px;

}

.gas-pane-input-field {
    border-radius: 4px;
  background: whitesmoke;
  color: black;
  padding: 10px;
  margin-top: 10px;
  font-size: 24px;
  box-shadow: none;
  border: none;
  transition: all .3s;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  width: 100%;
  padding: 10px;
  
}

.gas-pane-input-field:focus {
  outline: none;
  background: white;
  transition: all .3s;
  color: black;
  box-shadow: 2px 3px black;
}
.gas-pane-checkboxes {

    display:flex;

    flex-direction: column;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  background: orange;
  /* box-shadow: 2px 2px black; */
  width: 500px;
  height: 100%;
  margin-right: 20px;
  align-items: center;
}

.gas-pane-checkboxes-fun {
  display:flex;
  flex-direction: column;
  border-radius: 4px;
  justify-content: center;
  background: orange;
  box-shadow: 2px 2px black;
  width: 500px;
  height: 100%;
  margin-right: 20px;
  align-items: center;
}

.gas-pane-choice{
   width: 60%;
   margin-left: 20px;
   padding: 10px;
   font-size: 16px;
   text-align: center;
   margin-top: 10px;
   box-shadow: none;
   border: none;
   border-radius: 4px;
}

.gas-pane-choice:focus {
   transition: all .3s;
  box-shadow: 2px 3px black;
}

.gas-pane-choices-label {
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  /* margin-top: 10px; */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  /* text-shadow: 1px 1px black; */

}

.gas-pane-choices-label-fun {
   font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  text-shadow: 1px 1px black;
}

.gas-pane-submit {
  /* border: 1px solid black; */
  border-radius: 2px;
  
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  position: relative;
  height: 60px;
  width: 120px;
  border-radius: 4px;
  text-align: center;
  top: 0;
  z-index: 300;
  margin-top: 0;
  /* box-shadow: 0 10px 0 0 gray; */
  display:flex;
  justify-content: center;
  align-items: center;
  background: #FFA500;
  /* background-image: url("https://img00.deviantart.net/35a3/i/2007/198/0/d/metal_texture_1_by_wojtar_stock.jpg"); */
}

.gas-pane-submit > span {
  width: 100%;
  position: relative;
  z-index: 500;
  height: 100%;
  padding-top: 14px;
  background-image: url("https://s3-us-west-1.amazonaws.com/wayfarer-development/burning-emergency-fire-1749.jpg");
  -webkit-background-clip: text;
  background-position: center;
    transition: all .3s;
     font-size: 38px;
  font-family: 'Anton', sans-serif;
  /* text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px; */

}

.gas-pane-submit > span:hover {
  background-size: cover;
	-webkit-text-fill-color: transparent;
   text-shadow: none;
   transition: all .2s;
   
}


.add-car-page {
  width: 100%;
  height: 100%;
  position: relative;
}

.add-car-form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: orange;
}

.add-car-form {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    height: 450px;
    background: floralwhite;
    margin: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}





.car-mpg-container {
  display: flex;
  flex-direction: row;
}

.add-car-field {
  background: inherit;
  padding: 10px;
    border-bottom: 1px solid gray;
    margin: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 80%;
    border-radius: 4px;
}

.add-car-field:focus {
  outline: none;
}

.new-car-submit:hover {
  cursor: pointer;
}

.gas-pane-submit:active{
  box-shadow: none;
  top: 15px;
  margin-bottom: 0;

}

.gas-pane-submit:focus{
  outline: none;
}

.gas-pane-submit:hover {
  color: transparent;
  cursor: pointer;
}



.gas-pane-submit-shadow {
  -webkit-box-shadow: 7px 0px 2px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 0px 2px -1px rgba(0,0,0,0.75);
box-shadow:7px 0px 2px -1px rgba(0,0,0,0.75);

  width: 100%;
  position: relative;
  border-radius: 4px;
      height: 30px;
  
  padding-top: 10px;
  z-index: 200;
  bottom: 20px;
  background: #BA4603;
  /* background-image: url("https://img00.deviantart.net/35a3/i/2007/198/0/d/metal_texture_1_by_wojtar_stock.jpg"); */
  background-position: bottom;
}

.gas-pane-submit:active + div + div {
  box-shadow: none;
}



.button-div {
  position: relative;
  justify-content: center;
      top: 40px;
      right: 40px;
      height: 100%;
  /* display: flex; */
}

.gas-pane-body {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}
  
.gas-pane-page {
  width: 100%;
  height: 100%;
  background: orange;
}

/* .checkbox-checked {
  border: 1px solid black;
  background: transparent;
}

.checkbox-unchecked {
  border: 1px solid black;
  background: blue;
} */


.output-left {
    /* margin-left: 17px; */
      margin-bottom: 20px;
    /* border: 1px solid black; */
    width: 25%;
    background: #E86535;
    display: flex;
    flex-direction: column;
}

.output-right {
    margin-right: 37px;
    border: 1px solid black;
    width: 0%;
    display: none;
    background: whitesmoke;
      margin-bottom: 20px;

}

.output-head {
  font-size:24px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  border-radius: 4px;
  background: #D44A2E;
  color: #F5A540;
  font-family: 'Luckiest Guy', cursive;
}

.output-foot {
 font-size:24px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* margin: 10px; */
  border-radius: 4px;
  background: transparent;
  color: #F5A540;
  font-family: 'Luckiest Guy', cursive;
}

.output-car-name{
  font-size: 24pt;
  color: #D44A2E;
  font-weight: bold;
  /* text-shadow: 1px 1px black; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.output-data {
  font-size: 22pt;
  color: #D44A2E;
  font-weight: bold;
  /* text-shadow: 1px 1px black; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.output-data-container {
  width: 80%;
  margin-left: 10px;
  display: flex;
  border-radius: 4px;
  justify-content: space-around;
  height: 400px;
  padding: 20px;
  flex-direction: column;
  background: #F5A540;
}



.gaspane-return-link{
   font-size:24px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  background:  #F5A540;
  color:#D44A2E;
  font-family: 'Luckiest Guy', cursive;
  transition: all .2s;
}

.gaspane-return-link:visited{
  text-decoration: none;
}

.gaspane-return-link:hover{
    color: #D44A2E;
  background: #223238;
   transition: all .2s;
}
.output-head-fun {
  font-size:24px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  border-radius: 4px;
  background: #D44A2E;
  color: #F5A540;
  box-shadow: 2px 3px black;
  font-family: 'Luckiest Guy', cursive;
}

.output-car-name-fun{
  font-size: 24pt;
  color: #D44A2E;
  font-weight: bold;
  text-shadow: 1px 1px black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.output-data-fun {
  font-size: 22pt;
  color: #D44A2E;
  font-weight: bold;
  text-shadow: 1px 1px black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.output-data-container-fun {
  width: 80%;
  margin-left: 15px;
  display: flex;
  justify-content: space-around;
  height: 400px;
  border: 1px solid black;
  box-shadow: 2px 3px black;
  padding: 15px;
  flex-direction: column;
  background: #F5A540;
}

#map {
  margin-bottom: 20px;
  border: 1px solid gray;
  height: 800px;
  width: 80%;

}
/* 
#map {
          height: 900px;
          width: 900px;
        } */

.login-input {
  padding: 8px;
  font-size: 16px;
  background-color: white;
  margin-bottom: 5px;

  width: 300px;

  width: 250px;
}

#tank-percent{
  text-align: center;
  font-size: 48px;
  color: black;
  background: whitesmoke;
  width: 90px;
}

.percent-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.percent-container > span {
  font-size: 40px;
  color: orange;
}

.percent-label-fun {
    text-shadow: 1px 2px black;
}

.percent-sign {
  font-size: 120px;
}

.add-car-page {
  width: 100%;
  height: 100%;
  position: relative;
}

.add-car-form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: orange;
}

.add-car-form {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    height: 450px;
    background: floralwhite;
    margin: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.car-mpg-container {
  display: flex;
  flex-direction: row;
}

.add-car-field {
  background: inherit;
  padding: 10px;
    border-bottom: 1px solid gray;
    margin: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 80%;
}

.add-car-field:focus {
  outline: none;
}

.new-car-submit {
  background: #E2581C;
  border-radius: 4px;
  font-weight: 200;
  padding: 15px;
  border: none;
  box-shadow: 2px 2px black;
    font-family: 'Luckiest Guy', cursive;
 font-size: 24px;
 text-align: center;
 transition: all .2s;
 color: whitesmoke;
 margin-top: 10px;

}

.shadow-submit{
  display: none;
}

.new-car-submit:hover{
  background:  #f76c4f;
}


.vehicle-item-container {
  margin: 5px;
  border: 1px solid black;
  box-sizing: border box;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  background: floralwhite;
  box-shadow: 2px 2px black;
  margin: 10px;

}

.vehicle-index-container {
 display: flex;
 justify-content: center;
 flex-direction: column;
 background: burlywood;
}

.vehicle-index-greeting {
  font-size: 48px;
  min-width: 400px;
  width: fit-content;
  text-align: center;
}

.vehicle-item-stats {
  list-style: none;
  padding-inline-start: 0;
   
}

.vehicle-list {
  display: flex;
    flex-wrap: wrap;
}

.new-car-link {
  padding: 20px;
    background: #223238;
    border-radius: 4px;
    margin: 5px;
    text-decoration: none;
    color: #EF6B4E;
    font-size: 24px;
    font-weight: bold;
     transition: all .2s;
}

.new-car-link:hover {
  background:#919191;
  transition: all .2s;
  color: #fF8c5f;
}

.new-car-link-fun{
  padding: 20px;
    background: green;
    border-radius: 4px;
    margin: 5px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
     transition: all .2s;
}

.new-car-link-fun:hover{
    box-shadow: 0px 0px 10px 6px green;
  box-shadow: 0px 0px 10px 4px chartreuse;
  background:chartreuse;
  transition: all .2s;
}

.vehicle-index-topper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}

.vehicle-stat {
  font-size: 24px;
  color: #D44A2E;

    padding-inline-start: 0;
/*  */
  /* text-shadow: 1px 1px black; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.vehicle-stat-name {
   font-size: 32px;
  color: #D44A2E;
  font-weight: bold;
  text-decoration: underline;
  width: 100%;
  /* text-shadow: 1px 1px black; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.select-your-vehicle { 
  padding: 20px;
    background: #223238;
    border-radius: 4px;
    margin: 5px;
    text-decoration: none;
    color: #EF6B4E;
    font-size: 24px;
    font-weight: bold;
     transition: all .2s;
     /* box-shadow: 2px 2px gray; */
}

.select-your-vehicle:visited {
  text-decoration: none;
  color: #EF6B4E;
}

.select-your-vehicle:hover {
  /* box-shadow: 0px 0px 10px 6px green; */
  /* box-shadow: 0px 0px 10px 4px gray; */
  background:#6a7e86;
  transition: all .2s;
  color: #ef4b27;
}

.cool-mode {
  border: none;
  background: #E86535;
  padding: 10px;
  border: 1 px solid black;
  position: absolute;
}

.cool-mode:focus{
  outline: none;
}

.cool-mode:active {
  outline: none;
}